@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

@use 'base/reset';
@use 'base/base';
@use 'base/typography';

@use 'layout/header';
@use 'layout/nav';
@use 'layout/footer';

@use 'components/buttons';
@use 'components/cards';
@use 'components/forms';

@use 'pages/home';
@use 'pages/contact';
@use 'pages/about'