@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;
@use "../components/cards" as *;

body {
    background-color: c(bg);
    font: $font-body;
}

.titulo {
   @include flex(row,center,stretch,wrap,20px);
   font-size:30px;
   font-weight: bold;
}
.groups {
  @include flex(row,flex-start,stretch,wrap,20px);
  border: solid white 2px; 
  border-radius: 15px; 
  padding: 10px;
  background: linear-gradient(c(bg),c(effects));
}
.highlight {
  color: c(text);
  font-weight: bold;
}
