@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;
@use "../components/cards" as *;

body {
    background-color: c(bg);
    font: $font-body;
}

.titulo {
   @include flex(row,center,stretch,wrap,20px);
   font-size:30px;
   font-weight: bold;
}
.groups {
  @include flex(row, center,center,wrap,20px);
  padding: 10px;
  background:linear-gradient(
    rgba(255,255,255,.35),
    rgba(255,255,255,.15)
  );
  backdrop-filter: blur(10px);
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,.3);

}
.highlight {
  color: c(text);
  font-weight: bold;
}
