@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;
@use "../components/cards" as *;

body {
    background-color: c(bg);
    font-family: $font-body;
}

.calendar-page {
   padding: 16px;
  gap: 1.5rem;
  text-align: center;
  min-height: 100vh;
  @include flex(column,flex-start,center,nowrap,2rem);
}

  h1 {
    margin-top: 0px ;
    margin-bottom: 10px;
  }

 .released, .next{
  width: 100%;
  max-width: 280px;
  @include flex(row,center,center,wrap,20px);
   background:linear-gradient(
    rgba(255,255,255,.35),
    rgba(255,255,255,.15)
  );
  backdrop-filter: blur(10px);
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,.3);
  p:hover {
    color : white;
   } 
   img {
    width: 120px;
    height: 120px;
   }
  }
   .released:hover, .next:hover {
    color: rgb(110, 26, 26);
    outline: 4px solid hotpink;
}

.calendar-wrapper {
  width: 100%;
  transform-origin: top center;
  @include flex(row, center, center, wrap, 20px);
}

.calendar-center {
  @include flex(column, center, center, nowrap, 12px);
}
.flatpickr-day {
  position: relative;
}

.evento-label {
  font-size: 0.55rem;
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: hotpink;
  white-space: nowrap;
  pointer-events: none;
}

.flatpickr-day.evento {
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .calendar-wrapper {
    transform: scale(1.1);
  }
  .released,
  .next {
    width: 220px;
  }
}

@media (min-width: 680px) {
.calendar-wrapper {
    transform: scale(1.2);
  }
  .released,
  .next {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .calendar-wrapper {
    transform: scale(1.3);
  }

  .calendar-page {
    padding: 40px;
  }

  .released,
  .next {
    width: 180px;
  }
}

