@mixin flex($direction : row, $justify : flex-start, $align : stretch, $wrap :nowrap , $gap : null) {
    display: flex;
    flex-direction: $direction;
    justify-content : $justify;
    align-content : stretch;
    flex-wrap : $wrap;
    @if $gap != null {
        gap: $gap
    }
}