@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;

header {
    @include flex (row, space-between, center, nowrap);
    padding: 20px 150px 20px 150px;
    background-color:rgba(234, 154, 178, 0.3) ;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;

    img {
        align-self: center;
        max-width: 100px;
    }
}
nav {
    align-self: center;
    ul {
        @include flex (row, space-around, center, wrap, 10px);
        
        gap: 10px;
        list-style: none;
        li {
            align-self: center;
            a {
                font-size: large;
                font-weight: bold;
                color: c(text);
                text-decoration: none;
                text-align: center;
            }

            a:hover {
                color: white;
            }
        }
        
        img {
            max-width: 35px;
        }

    }
    
}
