@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;
@use '../layout/grids';

 .card {
  width: 180px;
  @include flex(row,center,center,wrap,20px);
   img {
    width: 100%;
  height: auto;
  border: solid white 1px;
   }
   p:hover {
    color : white;
   } 
  }
  .card img:hover {
    color: rgb(110, 26, 26);
    outline: 4px solid hotpink;
}
.cards {
    p {
        color: c(text);
    }
}



// cards de los grupos //

.members {
    @include flex(row, center, center, wrap, 30px);
    
    padding: 0px 100px 0px 100px;

    .member__card {
        @include flex (column, flex-start, center, wrap);
        background: linear-gradient(
        rgba(255,255,255,.35),
        rgba(255,255,255,.15)
        );
        backdrop-filter: blur(10px);
        border-radius: 14px;
        border: 1px solid rgba(255,255,255,.3);
        max-width: 210px;

        img {
            max-height: 250px;
            border-radius: 15px 15px 0px 0px;
        }

        img:hover {
            opacity: 0.7;
        }

        &__name {
            align-self: center;
            font-weight: bold;
            color: c(text);
        }
        
        ul {
            list-style-type: "✦";
            margin-block-start: 3px;
            padding-inline-start: 30px;
            li {
                margin-right: 10px;
                color: c(text);
            }
            .member__card__item {
                font-weight: 600;
            }
        }
    }

    .member__card:hover {
        box-shadow: black 20px;
    }
}


/* INDEX */

.index-card {
    @include flex(column, center, center);
    margin: 20px;
    width: 460px;
    height: 440px;
    border-radius: 16px;
    overflow: hidden;
    font-size: 20px;
    color:c(basic);
    cursor: pointer;

  box-shadow: 0 6px 16px rgba(0,0,0,.2);
  transition: transform .3s ease, box-shadow .3s ease;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
  }


  &__overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    @include flex(column, center);
    align-items: center;
    gap: 6px;

    background: rgba(0,0,0,.6);
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,.35);


    .index-card__overlay {
        opacity: 1;
        h3 {
            font-size: 30px;
            font-weight: 600;
        }    
    }
  }
}
.titulos{
    font-size: 45px; 
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.index-acerca-d {
    color: c(text);
    font-size: 18px; 
    text-align: justify;
}


