@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;

 .card {
  width: 180px;
  @include flex(row,center,center,wrap,20px);
   img {
    width: 100%;
  height: auto;
  border: solid white 1px;
   }
   p:hover {
    color : white;
   } 
  }
  .card img:hover {
    color: rgb(110, 26, 26);
    outline: 4px solid hotpink;
}
.cards {
    p {
        color: c(text);
    }
}

// cards de los grupos //

.members {
    @include flex(row, center, center, wrap, 30px);
    
    padding: 0px 100px 0px 100px;

    .member__card {
        @include flex (column, flex-start, center, wrap);
        background-color: rgba(234, 154, 178, 0.4);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 2px solid rgba(234, 154, 178, 0.5);
        max-width: 210px;
        outline: c(effects) 10px;

        img {
            max-height: 250px;
            border-radius: 10px 10px 0px 0px;
        }

        img:hover {
            opacity: 0.7;
        }

        &__name {
            align-self: center;
            font-weight: bold;
            color: c(text);
        }
        
        ul {
            list-style-type: "✦";
            margin-block-start: 3px;
            padding-inline-start: 30px;
            li {
                margin-right: 10px;
                color: c(text);
            }
            .member__card__item {
                font-weight: 600;
            }
        }
    }

    .member__card:hover {
        box-shadow: black 20px;
    }
}

.main__card {
    @include flex (row, center, center, wrap, 40px);
    img {
        max-width: 600px;
        border-radius: 10px;
    }

    &__wbutton {
       position: relative;

        a {
            left: 34%;
            bottom: 10%;
            background-color: rgba(234, 154, 178, 0.8);
            backdrop-filter: blur(10px);
            color: c(text);
            font-weight: 600;
            text-decoration: none;
            position: absolute;
            border-radius: 15px;
            min-width: 200px;
            max-height: 200px;
            text-align: center;
        }

        a:hover {
            background-color: white;
            color: c(effects);
        }


    }
}