@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../base/typography" as * ;

 .card {
  width: 180px;
  @include flex(row,center,center,wrap,20px);
   img {
    width: 100%;
  height: auto;
  border: solid white 1px;
   }
   p:hover {
    color : white;
   } 
  }
  .card img:hover {
    color: rgb(110, 26, 26);
    outline: 4px solid hotpink;
}
.cards {
    p {
        color: c(text);
    }
}

