* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-left: 150px;
    padding-right: 150px;
}

body {
    background-image: url("../assets/media/i-recreated-one-of-the-ai-generated-frutiger-aero-v0-e5qv993odz7a1.png");
    background-size: cover;
    background-position: center;
}
