@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Caucasian+Albanian&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Noto+Sans+Caucasian+Albanian&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Noto+Sans+Caucasian+Albanian&family=Pacifico&display=swap');

$font-body: 'Josefin Sans', sans-serif;
$font-title: 'Lilita One', cursive;
$font-cute: 'Pacifico', cursive;
$font-hand: 'Gochi Hand', cursive;
