@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Noto+Sans+Caucasian+Albanian&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

$font-body: 'Poppins', Comic-sans;

body {
    font-family: $font-body;
    font-weight: 400;
    color: c(text);
}
